@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url("/public/maxresdefault.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
    background-position: center;
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px 8px black;
    color:darkturquoise;
}

.gamecontainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gamecontainer h1{
    font-size: 3rem;
    align-self: flex-start;
    padding-left: 3%;
}

.gamecontainer h2{
    font-size: 2rem;
    align-self: flex-start;
    padding-left: 3%;
}

.score{
    color:darkturquoise;
}

.circle{
    background-color: wheat;
    height: 20vh;
    width: 12vw;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 6px rgb(18 0 0);
}

.circleInactive{
    background-color:rgb(90 17 17);
}

.circleActive{
    background-color: rgb(24, 102, 24);
    box-shadow: 1px 1px 20px 6px rgb(24, 102, 24);
}

.circlecontainer{
    display: flex;
    column-gap: 10vw;
}

.buttoncontainer{
    display: flex;
    align-items: center;
    column-gap: 5vw;
}

.myButtonClass{
    height: 7vh;
    width: 10vw;
    font-family: 'Cinzel Decorative', cursive;
    background-color:darkturquoise;
    border-width: 0;
    border-radius: 12px;
    font-size: 1.65rem;
    color: rgb(136, 5, 5);
    text-shadow: 2px 2px 8px black;
    font-weight: 900;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(5, 24, 32, 0.5);
}

.popup{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20% auto auto 15%;
    background: linear-gradient(to bottom, rgb(40, 32, 32), rgb(36, 15, 15));
    height: 40vh;
    width: 70vw;
    border-radius: 22px;
}

.popup h2{
    align-self: center;
}